@import url(bootstrap.less);
@import url(bootstrap-extend.less);
@import url(vars.less);
@import url(components/helper-margin.less);
@import url(components/animation.less);

body{
	background: #fff;
}
.block_hp{
	margin:0px;
	background: url(../images/hp4.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	min-height: 820px;

	.block_hp--title,
	.block_hp--title h1{
		color: #fff;
		font-size: 45px;
	}
	.block_hp--subtitle{
		color: #fff;
		font-size: 20px;
		font-weight: 300;
	}
	.navbar{
		box-shadow: none !important;

		.navbar-nav.navbar-right.nav{
			>li,>li a{
				color: #fff;
			    text-shadow: 0 0 1px #000;
				&:hover{
					background:none;
				}
			}
		}
	}

	#btn-explore{
		&.active{
			position: relative;
			color: rgba(0,0,0,0) !important;
			background: rgba(0,0,0,0)!important;
			border:none;
			&:before{
				left:38%;
				width:59px;
				height:38px;
				content: '';
				border:none;
				background: url(../images/ico_arrow_down_explore.png);
			}
		}
	}
	.block_explore{

		position: relative;
		>div{
			z-index: 1;
			width: 100%;
			height: 100%;
			float: left;
			background: #fff;
			margin-top: 15px;
			padding-top:15px;
			padding-bottom: 15px;
			border:none; 
			box-shadow: 0 0px 5px #999;
			display: none;
		}
		.block_explore--menu{
			list-style: none;
			margin: 0px;
			padding: 0px;
			li{
				a{
					display: inline-block;
					padding: 3px 5px ;
					color: #000;
					font-size: 12px;
					img{
						display: inline-block;
						margin-right: 20px;
						border-radius: 5px;
					}
				}
			}
		}
	}
}



